                            


---------------------------------------------------------------------------------------------------------------------------------------------

                                                            Parallax


                            -------------------------------------------------------------------------------





  .parallax {
    
  }

 body, html {
    overflow: hidden;
  }

  body {font-size: 250%;
    font: 100% / 1.5 Arial;
  }

  * {
    margin:0;
    padding:0;}

     /* Parallax base styles
  --------------------------------------------- */

  body {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }

 #myvideo {
  position: absolute;
    right: 0;
    bottom: 0;
    top:1.6em;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
      background-image: /* our video */;
      background-position: center center;
      background-size: contain;
      object-fit: cover; /*cover video background */
      z-index: 11;
  }






  #group1 {
    z-index: 5;
     /* slide over group 2 */
  }
  #group1 .parallax__layer--base {
    background: rgb(102,204,102);
    
}

  #group2 {
    z-index: 3; 
    /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {
    background: rgb(123,210,102);
    background-image: url(http://www.fond-ecran-hd.net/pc-driver/212.jpg);
    background-position: 100%;

  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
    background: rgb(153,216,101);
  }
  #group3 .parallax__layer--fore{
    background-image:url(); 
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--deep {
    background: rgb(184,223,101);
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #group5 .parallax__layer--base {
    background: rgb(214,229,100);
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax__layer--back {
    background: rgb(245,235,100);
    background-image: url(order2.jpg);
    background-position: 
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
  }
  #group7 .parallax__layer--base {
    background: rgb(255,241,100);
    background-color: grey

  }

.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }.navbar{
  z-index: 10;
}  
nav{
  margin-top: ;
  opacity: 10;
  text-align: center;

}
ul li { 

  margin-left: 05em;
display : inline;
padding : 0 0.5em; /* Pour espacer les boutons entre eux */

}
ul {
list-style-type:none;
list-style-type : none; /* Car sinon les puces se placent n'importe où */
}

.h1{
    font-size: 5em;
    font-family: interstateregular,arial,helvetica;
    color: #fff;
    margin:0 auto;
    padding:0;
    border: solid 3px white;
    width: 300px;
  }

    h1{
    font-size: 5em;
    font-family: interstateregular,arial,helvetica;
    color: #fff;
    margin:0 ;
    padding:0;
    
  }


.navbar{
  z-index: 10;
}  
nav{
  margin-top: ;
  opacity: 10;
  text-align: center;

}
ul li { 

  margin-left: 05em;
display : inline;
padding : 0 0.5em; /* Pour espacer les boutons entre eux */

}


ul {
list-style-type:none;
list-style-type : none; /* Car sinon les puces se placent n'importe où */
}

.h1{
    font-size: 5em;
    font-family: interstateregular,arial,helvetica;
    color: #fff;
    margin:0 auto;
    padding:0;
    border: solid 3px white;
    width: 300px;
  }

    h1{
    font-size: 5em;
    font-family:interstateregular,arial,helvetica;
    color: #fff;
    margin:0 ;
    padding:0;
    
  }



--------------------------------------------------------------------------------------------------------------------------------------------


                                                              FORMULAIRE


                         -----------------------------------------------------------------------------------------------




div {}



html, body, div, span, object, iframe,

h1, h2, h3, h4, h5, h6, blockquote, pre,

abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,

small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, figcaption, figure,

footer, header, hgroup, menu, nav, section, summary,

time, mark, audio, video {


  font-family: interstateregular,Arial,helvetica,sans-serif;

  border: 0;

  
  vertical-align: baseline;

}

.order {color: #fff;
        padding-left: 30px;}


h1.order {font-size: 4em;
          padding-top: 30px;
          ;
        }

p.order {font-size: 3em;}




blockquote, q { quotes: none; }



blockquote:before, blockquote:after,

q:before, q:after { content: ""; content: none; }



ins { background-color: #ff9; color: #000; text-decoration: none; }



mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }



del { text-decoration: line-through; }



abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }



table { border-collapse: collapse; border-spacing: 0; }



hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }



input, select { vertical-align: middle; }





/**

 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/

 */



body { font:12px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }



/* Normalize monospace sizing:

   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */

pre, code, kbd, samp { font-family:interstateregular, monospace, sans-serif; }





/**

 * Minimal base styles.

 */



/* Always force a scrollbar in non-IE */

html { overflow-y: scroll; }



/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */

a:hover, a:active { outline: none; }



ul, ol { margin-left: 10px; }

ol { list-style-type: decimal; }



/* Remove margins for navigation lists */

nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }



small { font-size: 85%; }

strong, th { font-weight: bold; }



td { vertical-align: top; }



/* Set sub, sup without affecting line-height: gist.github.com/413930 */

sub, sup { font-size: 75%; line-height: 0; position: relative; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }



pre {

  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */

  white-space: pre; white-space: pre-wrap; word-wrap: break-word;

  padding: 15px;

}



textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */



.ie6 legend, .ie7 legend { margin-left: -7px; } 



/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */

input[type="radio"] { vertical-align: text-bottom; }

input[type="checkbox"] { vertical-align: bottom; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }

.ie6 input { vertical-align: text-bottom; }



/* Hand cursor on clickable input elements */

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }



/* Webkit browsers add a 2px margin outside the chrome of form elements */

button, input, select, textarea { margin: 0; }



/* Colors for form validity */

input:valid, textarea:valid   {  }

input:invalid, textarea:invalid {

   border-radius: 1px; -moz-box-shadow: 0px 0px 5px #1275ae; -webkit-box-shadow: 0px 0px 5px #1275ae; box-shadow: 0px 0px 5px #1275ae;

}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }





/* These selection declarations have to be separate

   No text-shadow: twitter.com/miketaylr/status/12228805301

   Also: hot pink! */

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }

::selection { background:#FF5E99; color:#fff; text-shadow: none; }



/* j.mp/webkit-tap-highlight-color */

a:link { -webkit-tap-highlight-color: #FF5E99; }



/* Make buttons play nice in IE:

   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */

button {  width: auto; overflow: visible; }



/* Bicubic resizing for non-native sized IMG:

   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */

.ie7 img { -ms-interpolation-mode: bicubic; }



/**

 * You might tweak these..

 */



body, select, input, textarea {

  
  font-family: interstateregular, Helvetica,Arial,sans-serif;

}



a, a:active, a:visited { color: #fff; text-decoration:none;}

a:hover { color: #fff; border-bottom:dotted 1px #fff;}







/**

 * Primary styles

 *

 * Author: 

 */



header{

  width:326px;

  height:27px;

  margin:100px auto;

  }

  

#main{

  padding:30px 0;

  border: none;

  width:326px;

  height:500px;

  margin-left: 50px;

  margin-top: 10px;
  }


@font-face {
    font-family: 'interstateregular';
    src: url('webfont/interstate-webfont.eot');
    src: url('webfont/interstate-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfont/interstate-webfont.woff2') format('woff2'),
         url('webfont/interstate-webfont.woff') format('woff'),
         url('webfont/interstate-webfont.ttf') format('truetype'),
         url('webfont/interstate-webfont.svg#interstateregular') format('svg');
    font-weight: normal;
    font-style: normal; }
  

  

label, button{

  font-family: interstateregular, Helvetica,Arial,sans-serif;

  
  letter-spacing:2px;

  font-size:1.4em;

  color:#fff;

  }
  

    
input{

  background-color:#303030;

    

  -webkit-border-radius: .4em;

  -moz-border-radius: .4em;

  border-radius: .4em;

  

  -moz-box-shadow: 0 -1px 0 0px #1275ae;

  -webkit-box-shadow: 0 -1px 0 0px #1275ae;

  box-shadow: 0 -1px 0 0px #1275ae;  

  

  border: none;

  width:316px;

  height:27px;  

  margin:15px 0;

  color:#fff;

  padding:0 0 0 10px;

  font-family:interstateregular,Arial, Helvetica, sans-serif;

  font-size:1.2em;

  letter-spacing:2px;

  }

  .ico{
    float:right;
    }


button{

  width:79px;

  height:24px;

  text-align: left;

  border:none;

  float:right;



  background: #363535;

  background: -webkit-gradient(linear, left top, left bottom, from(#3a3a3a), to(#303030));

  background: -moz-linear-gradient(bottom,  #303030,  #3a3a3a);

  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3a3a', endColorstr='#303030');



  -webkit-border-radius: .2em;

  -moz-border-radius: .2em;

  border-radius: .2em;



  -webkit-box-shadow: 0 0px 1px rgba(255,255,255,0.1);

  -moz-box-shadow: 0 0px 1px rgba(255,255,255,0.1);

  box-shadow: 0 0px 1px rgba(255,255,255,0.1);

  color:#fff;

  text-align:center;

  }

    

  button:hover{

    background: #1275ae;

    background: -webkit-gradient(linear, left top, left bottom, from(#1275ae), to(#1275ae));

    background: -moz-linear-gradient(bottom,  #1275ae,  #1275ae);

    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1275ae', endColorstr='#1275ae');

  }

  

    button:active{

      border:none;

      -webkit-box-shadow: 0 0px 2px rgba(255,255,255,0.2);

      -moz-box-shadow: 0 0px 2px rgba(255,255,255,0.2);

      box-shadow: 0 0px 2px rgba(255,255,255,0.2);

  ` }

  

input:focus:required:invalid {

  color:#1275ae

}





/**

 * Non-semantic helper classes: please define your styles before this section.

 */



/* For image replacement */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }



/* Hide for both screenreaders and browsers:

   css-discuss.incutio.com/wiki/Screenreader_Visibility */

.hidden { display: none; visibility: hidden; }



/* Hide only visually, but have it available for screenreaders: by Jon Neal.

  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */

.visuallyhidden.focusable:active,

.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }



/* Hide visually and from screenreaders, but maintain layout */

.invisible { visibility: hidden; }



/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.

   j.mp/bestclearfix */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }

.clearfix:after { clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

.clearfix { zoom: 1; }

